
    <!--  header  -->




    <div class="continer1">
        <div class="row mt-1">
            <div class="col-lg-12 col-md-12 col-sm-12 d-sm-none  d-md-block  d-none d-lg-block">
                <a href="homePage.html" class="text-decoration-none"> <span class="text-dark pr-2"> Home</span><i class="fas fa-angle-right text-dark"></i></a>
                    <a href="productPage.html" class="text-decoration-none"> <span class="text-dark pr-2">SuperMarket</span>
                       </a>
            </div>
        </div>
        <!--  row1  -->
        <div class="row bg-white pt-3 pb-3 mt-3 mb-3 rounded">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="images/desktop-en.jpg" class="img-fluid rounded advertisment">

            </div>
        </div>
        <!--  row2  -->
        <div class="row bg-white pt-3 pb-3 mt-3 mb-3 rounded">
            <div class="col-lg-12 ">
                <!--  row1  -->
                <div class="row mb-2">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="text-center">Groceries</h2>
                    </div>
                </div>
                <!--  row2  -->
                <div class="row mb-2">
                    <app-item-bar  *ngFor='let u of itemPagination()' [product]=u  class="col-lg-2 col-md-4 col-sm-4 col-6"></app-item-bar>
                    </div>
                    <!--  row3  -->
                    <div class="row">
                        <app-item-bar  *ngFor='let u of itemPagination()' [product]=u  class="col-lg-2 col-md-4 col-sm-4 col-6"></app-item-bar>
                    </div>
            </div>
        </div>
        <!--  row3  -->
        <div class="row bg-white  pb-1 mt-3 mb-3 rounded">
            <div class="col-12">
                <!--  row1  -->
                <div class="row bg-info p-3 rounded">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-right"><a href="itemPage.html" class="text-decoration-none"> <span class="text-dark pr-2"> SEE ALL</span><i class="fas fa-angle-right text-dark"></i></a></div>
                            <h5 class="float-none ">Ingredients Must Have</h5>
                        </div>
                    </div>
                </div>
                <!--  row2  -->
             
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class=""></li>
                        <li data-target="#demo" data-slide-to="1" class=""></li>    
                        <li data-target="#demo" data-slide-to="2" class=""></li>
                        <li data-target="#demo" data-slide-to="3" class=""></li>
                        <li data-target="#demo" data-slide-to="4" class=""></li>
                        <li data-target="#demo" data-slide-to="5" class="active"></li>
      
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="row p-1">
                             <app-item-side-bar  *ngFor='let u of itemPagination()' [product]=u    class="col-lg-2 col-md-4 col-sm-4 col-4 p-2  rounded moveCol"></app-item-side-bar>
                             
                            </div>
                        </div>



                        <div class="carousel-item active">
                            <div class="row p-1">
                                <app-item-side-bar  *ngFor='let u of itemPagination()' [product]=u    class="col-lg-2 col-md-4 col-sm-4 col-4 p-2  rounded moveCol"></app-item-side-bar>
                               </div>
                        </div>


                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo2" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark"></span>
                        </a>

                    </div>

                </div>





            </div>
        </div>
        <!--  row4  -->
        <div class="row bg-white  pb-1 mt-3 mb-3 rounded">
            <div class="col-12">
                <!--  row1  -->
                <div class="row bg-info p-3 rounded">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-right"><a href="itemPage.html" class="text-decoration-none"> <span class="text-dark pr-2"> SEE ALL</span><i class="fas fa-angle-right text-dark"></i></a></div>
                            <h5 class="float-none ">Quick &amp; Easy Meals</h5>
                        </div>
                    </div>
                </div>
                <!--  row2  -->
                <div id="demo2" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo2" data-slide-to="0" class=""></li>
                        <li data-target="#demo2" data-slide-to="1" class=""></li>    
                        <li data-target="#demo2" data-slide-to="2" class=""></li>
                        <li data-target="#demo2" data-slide-to="3" class=""></li>
                        <li data-target="#demo2" data-slide-to="4" class=""></li>
                        <li data-target="#demo2" data-slide-to="5" class="active"></li>
      
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="row p-1">
                             <app-item-side-bar  *ngFor='let u of itemPagination()' [product]=u    class="col-lg-2 col-md-4 col-sm-4 col-4 p-2  rounded moveCol"></app-item-side-bar>
                             
                            </div>
                        </div>



                        <div class="carousel-item active">
                            <div class="row p-1">
                                <app-item-side-bar  *ngFor='let u of itemPagination()' [product]=u    class="col-lg-2 col-md-4 col-sm-4 col-4 p-2  rounded moveCol"></app-item-side-bar>
                               </div>
                        </div>


                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo2" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark"></span>
                        </a>

                    </div>

                </div>
            </div>
        </div>
        <!--  row5  -->
        <div class="row bg-white pt-2 pb-2 mt-3 mb-3 rounded">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="itemPage.html" class="text-decoration-none">
                <img src="images/clean1.png" class="img-fluid rounded moveCol" width="100%">
                </a>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="itemPage.html" class="text-decoration-none">
                <img src="images/clean2.png" class="img-fluid rounded moveCol" width="100%">
                </a>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="itemPage.html" class="text-decoration-none">
                <img src="images/clean3.png" class="img-fluid rounded moveCol" width="100%">
                </a>

            </div>
        </div>

        <!--  row6  -->
        <div class="row bg-white pt-3 pb-3 mt-3 mb-3 rounded">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!--  row1  -->
                <div class="row mb-2">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="text-center font-weight-normal ">Breakfast,Snacks &amp; Drinks</h2>
                    </div>
                </div>
                <!--  row2  -->
                <div class="row mb-2">
                   
                <app-item-bar  *ngFor='let u of itemPagination()' [product]=u  class="col-lg-2 col-md-4 col-sm-4 col-6"></app-item-bar>
                </div>
                <!--  row3  -->
                <div class="row">
                    <app-item-bar  *ngFor='let u of itemPagination()' [product]=u  class="col-lg-2 col-md-4 col-sm-4 col-6"></app-item-bar>
                </div>
            </div>
        </div>
        <!--  row7  -->
        <div class="row bg-white  pb-1 mt-3 mb-3 rounded">
            <div class="col-lg-12">
                <!--  row1  -->
                <div class="row bg-info p-3 rounded">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-right"><a href="itemPage.html" class="text-decoration-none"> <span class="text-dark pr-2"> SEE ALL</span><i class="fas fa-angle-right text-dark"></i></a></div>
                            <h5 class="float-none ">Stay Hydrated</h5>
                        </div>
                    </div>
                </div>
                <!--  row2  -->
                <div class="row p-1">
                    <app-item-side-bar  *ngFor='let u of itemPagination()' [product]=u    class="col-lg-2 col-md-4 col-sm-4 col-4 p-2  rounded moveCol"></app-item-side-bar>
                    
                   </div>
            </div>
        </div>

        <!--  row8  -->
        <div class="row bg-white  pb-1 mt-3 mb-3 rounded">
            <div class="col-12">
                <!--  row1  -->
                <div class="row bg-info p-3 rounded">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="clearfix">
                            <div class="float-right"><a href="itemPage.html" class="text-decoration-none"> <span class="text-dark pr-2"> SEE ALL</span><i class="fas fa-angle-right text-dark"></i></a></div>
                            <h5 class="float-none ">For Morning Coffee Lovers</h5>
                        </div>
                    </div>
                </div>
                <!--  row2  -->
                <div class="row p-1">
                    <app-item-side-bar  *ngFor='let u of itemPagination()' [product]=u    class="col-lg-2 col-md-4 col-sm-4 col-4 p-2  rounded moveCol"></app-item-side-bar>
                   </div>
            </div>
        </div>
        <!--  row9  -->
        <div class="row bg-white pt-2 pb-2 mt-3 mb-3 rounded">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="images/free.jpg" class="img-fluid rounded advertisment">

            </div>

        </div>
        <!--  row10  -->
        <div class="row bg-white pt-2 pb-2 mt-3 mb-3 rounded">
            <div class="col-lg-12">
                <!--  row1  -->
                <div class="row mb-2">
                    <div class="col-lg-12">
                        <h2 class="text-center font-weight-normal ">Your Favourite Brands</h2>
                    </div>
                </div>


                <!--  row2  -->
                <div class="row p-2">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 moveCol">
                        <a href="itemPage.html" class="text-decoration-none">
                        <img src="images/brands1.jpg" class="img-fluid rounded " width="100%">
                        </a>

                    </div>
                </div>
                <!--  row3  -->
                <div class="row p-2">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 moveCol">
                        <a href="itemPage.html" class="text-decoration-none">
                        <img src="images/brands7.jpg" class="img-fluid rounded " width="100%">
                        </a>

                    </div>
                </div>



            </div>
        </div>


        <!--  row11  -->
        <div class="row  pt-2 pb-2 mt-3 mb-3">
            <div class="col-lg-3 d-lg-block   d-md-none d-sm-none d-none pr-4">
                <!--  row1  -->
                <div class="row ">
                    <div class="col-lg-12  rounded  bg-white">
                        <!--  row1  -->
                        <div class="row border border-top-0 border-right-0 border border-left-0  border-light">
                            <div class="col-lg-12">
                                <h4 class=" font-weight-normal p-2">Category</h4>
                                <ul class="list-unstyled noLine">
                                    <li class="pb-2"><a class="text-dark pl-2 text-capitalize " href="productPage.html">Supermarket</a>
                                    </li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">air
                                            freheners</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">beverages</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">breakfast
                                            foods</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">candy &amp;
                                            chocolate</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">canned,
                                            jarred &amp; packaged foods</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">cooking &amp;
                                            baking</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">dishwashing</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">food
                                            cupboard</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">herbs,
                                            spices &amp; seasonings</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">household
                                            batteries</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">household
                                            battery chargers</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">household
                                            cleaning </a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">household
                                            supplies</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">laundry</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">lighters
                                            &amp; matches</a></li>
                                    <li class="pb-2 "><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">paper &amp;
                                            plastic</a></li>
                                    <li class="pb-2"><a class="text-dark pl-3 text-capitalize small" href="searchPage.html">tobacco-related products</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--  row2  -->
                        <div class="row border border-top-0 border-right-0 border border-left-0  border-light">
                            <div class="col-lg-12">
                                <form>
                                    <h6 class="card-title">BRAND</h6>
                                    <div class="form-check">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-search "></i>
                                                </span>
                                            </div>
                                            <input type="search" class="inputsearch rounded" placeholder="SEARCH">
                                        </div>

                                        <ul class="nav flex-column pre-scrollable filter">
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>Ocean</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>



                            </div>
                        </div>
                        <!--  row3  -->
                        <div class="row border border-top-0 border-right-0 border border-left-0  border-light">
                            <div class="col-lg-12">
                                <form>
                                    <h6 class="card-title">SIZE</h6>
                                    <div class="form-check ">



                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                            <input type="search" class="inputsearch rounded" placeholder="SEARCH">
                                        </div>


                                        <ul class="nav flex-column pre-scrollable filter">
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>XXS</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>XX</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>XM</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>S</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>S/M</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>700</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>S</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>S/M</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>700</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>S</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>S/M</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="searchPage.html"><i class="far fa-square"></i>700</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <!--  row4  -->
                        <div class="row border border-top-0 border-right-0 border border-left-0  border-light">
                            <div class="col-lg-12">
                                <form action="">
                                    <h6 class="card-title">PRICE</h6>
                                    <input type="range" min="0" max="5" step="0.5">
                                    <div class="input-group mb-3">
                                        <input type="number" class="list-inline w-25" value="11">
                                        <span>-</span>
                                        <input type="number" class="w-50" value="20">
                                    </div>
                                </form>

                                <div>
                                    <h6 class="card-title">DISCOUNT PERCENTAGE</h6>
                                    <ul class="nav flex-column filter ">
                                        <li class="nav-item">
                                            <a class="nav-link" href="searchPage.html"><i class="far fa-circle"></i> 50% or more</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="searchPage.html"><i class="far fa-circle"></i> 40% or more</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="searchPage.html"><i class="far fa-circle"></i> 30% or more</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="searchPage.html"><i class="far fa-circle"></i> 20% or more</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!--  row5  -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <h6 class="card-title">SHIPPED FROM</h6>
                                    <ul class="nav flex-column filter">
                                        <li class="nav-item">
                                            <a class="nav-link small" href="searchPage.html"><i class="far fa-square"></i> SHIPPED FROM
                                                EGYPT</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link small" href="searchPage.html"><i class="far fa-square"></i> SHIPPED FROM
                                                ENGLAND</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <!--  row2  -->
            <div class="col-lg-9  bg-white rounded" id="orderSupermarket">
                <!--row1-->
                <div class="row p-3  bg-white border border-top-0 border-right-0 border border-left-0  border-light">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <!-- <div class="float-right"><a href="#" class="text-decoration-none"> <span
                                        class="text-dark pr-2"> Sort by:Popularity</span><i
                                        class="fas fa-angle-right text-dark"></i></a></div>-->
                            <div class="float-right"><button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"> <span class="text-dark pr-2"> Sort by:Popularity</span>
                                </button>
                                <div class="dropdown-menu " style="width:200px">
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Newest Arrivals</a>
                                    <a class="dropdown-item" href="#">Price:Low to High</a>
                                    <a class="dropdown-item" href="#">Price:High to Low</a>
                                    <a class="dropdown-item" href="#">Product Rating</a>
                                </div>

                            </div>
                            <h5 class="float-none ">Order Supermarket </h5>
                        </div>

                    </div>
                </div>
                <!--row2-->
                <div class="row p-3  bg-white border border-top-0 border-right-0 border border-left-0  border-light">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-right">
                                <a href="#searchPage.html" class="text-decoration-none menuSupermarket">
                                    <i class="fas fa-th-large mr-3 text-secondary "></i>
                                </a>
                                <a href="#orderSupermarket" class="text-decoration-none">
                                    <i class="fas fa-th-large text-warning "></i>
                                </a>
                            </div>
                            <h5 class="float-none small text-secondary ">5412 products found </h5>
                        </div>

                    </div>
                </div>
                <!--row3-->
                <div class="row p-1">
                
                    <app-product-item  *ngFor='let prod of itemPagination()'  [product]='prod' class="col-lg-3 col-md-6 col-sm-6  p-2  rounded  moveCol btnVisable"></app-product-item>
                </div>
                <!--row4-->

                <!--row5-->
  
                <!--row6-->


                <!--row7-->
                <div class="row p-4 mt-3">
                    <div class="col-lg-12">
                        <div class="mx-auto" style="width:250px;">
                            <ul class="pagination punctuation">
                                <li class="page-item " *ngFor='let j of NumberOfPages() ;  let i = index'[class]="{'active':currentPage===i}"  (click)='currentPage=i'><a class="page-link" >{{j}}</a></li>
 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  row12  -->
        <div class="row bg-white rounded p-2 pb-2 mt-3 mb-3">
            <div class="col-lg-12">
                <h5 class="font-weight-normal">Supermarket &amp; Grocery on Jumia Egypt</h5>
                <h5 class="font-weight-normal">Jumia Supermarket, Have all your need by one click!</h5>
                <p class="small summary"><span class="font-weight-bold">Jumia</span> is always keen on facilitate people
                    lives. Hence, Jumia Egypt team decides to open an online <span class="font-weight-bold">supermarket</span>.
                    In Jumia supermarket, you can find all your home needs as well as your personal wants. In our
                    supermarket,
                    we have 4 sections; <a href="#">laundry &amp; Household</a>, <a href="#">Baby products</a>,<a href="#">Hair &amp; Body Care</a> , <a href="#">Food &amp; Beverages</a> which include foods
                    and condiments. You can now make your shopping from home without suffering in streets traffic. We
                    have a lot of
                    top brands in all sections such as<a href="#">Pampers,</a> molfix, <span class="font-weight-bold">Johnson</span>, Spinneys, Regina, Hero baby, Riri, Eva, and many more.
                    Moreover,
                    Jumia Egypt delivers all your orders at your door step! Supermarket Shopping has never been easy
                    like now!
                </p>
                <h5 class="font-weight-normal">Supermarket shopping from Jumia Egypt</h5>
                <p class="small summary">
                    On Jumia, you will find all your home necessities. In our supermarket, you have cleaning tools and
                    accessories,
                    powder and gel detergents, household cleaners, Air fresheners, <a href="#">toilet paper</a> and
                    wipes. So you can have all what you need in your kitchen,
                    such as clothes detergent, dish washing detergents from different brands such as Harpic,<span class="font-weight-bold">Detol</span> , Finish, Vanish, you can also find different brushes and
                    mops for cleansing purposes. As for the food and beverages, we have pasta,<a href="#">tuna</a> ,
                    rice and all that may come to your mind. We have also different brands to suit your budget such as
                    Regina, Masreya, Star, Hero, Vitrac and many more. You can even shop for all necessities and
                    essentials for the holy month of <a href="#">Ramadan</a>,
                    including products such as Ramadan box and amazing <a href="#">Ramadan deals</a>!
                </p>
                <h5 class="font-weight-normal">Your Hygiene and Baby Essentials Matter to Jumia</h5>
                <p class="small">
                    We have not forgot your personal care, neither your baby’s one.
                    In Jumia Supermarket or market category, you can find a special section for your baby food,
                    and necessities such as diapers, food, shampoo, baby oil, cream and all his essentials.
                    We try to make your baby happy. As for you, you can find as well all products for your personal
                    care,
                    hair, skin and all other stuff. You can find hand wash, face wash, creams, conditioner, mouthwash,
                    shower gel, deodorant, pads, and many more. In this section,
                    you can also find different brands with different prices such as <span class="font-weight-bold">Always</span>,
                    Sherosa, Eva, One, and many more. All in Jumia Supermarket!

                </p>

            </div>
        </div>
    
    <!-- row12-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="scrollTop float-right">
                <i class="fas fa-chevron-up" onclick="topFunction()" id="myBtn" style="display: none;"></i>
            </div>

        </div>
    </div>
    <!-- footer-->
    <footer class="row bg-dark footerLarge">
        <div class="col-12">
            <!--  row1  -->
            <div class="row p-3 mb-5" style="background-color: #282828;">
                <div class="col-lg-2 pl-5 pr-5">
                    <img src="images/logo.png" width="160px">

                </div>
                <div class="col-lg-6 pl-5 pr-5">
                    <p class="text-white font-weight-bold">New to Jumia? <br> <span class="text-white-50  font-weight-lighter small">Subscribe to our newsletter to get updates
                            on
                            our latest offers!</span></p>

                    <div class="input-group sm-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white"><i class="fas fa-envelope text-secondary"></i></span>
                        </div>
                        <input type="email" class=" form-control bg-white text-secondary" name="userEmail" required="" placeholder="Enter E-mail Address">
                        <a href="#" class="btn btn-dark ml-2 text-uppercase  btn-outline-light bordColor" role="button">male</a>
                        <a href="#" class="btn btn-dark ml-2 text-uppercase  btn-outline-light bordColor" role="button">female</a>

                    </div>

                </div>
                <div class="col-lg-4 pl-5">
                    <div class="row mb-2">
                        <div class="col-lg-3">
                            <img class="rounded" src="images/cartt.jpg" width="60px">

                        </div>
                        <div class="col-lg-9">
                            <p class="text-white font-weight-bold small"> DOWNLOAD JUMIA FREE APP
                                <br> <span class="text-white-50  font-weight-lighter ">Get access to exclusive
                                    offers!</span>
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#" class="btn btn-dark    btn-outline-light bordColor" role="button"><i class="fab fa-apple pr-1"></i>App Store</a>
                            <a href="#" class="btn btn-dark    btn-outline-light bordColor" role="button"><i class="fab fa-google-play pr-1 "></i>Google Play</a>

                        </div>
                    </div>


                </div>

            </div>
            <!--  row2  -->
            <div class="row p-3 border border-top-0 border-right-0 border border-left-0  border-secondary">

                <div class="col-lg-3 pl-5 ">
                    <div class="row pb-2 mb-2">
                        <div class="col-lg-12">
                            <h1 class="text-white font-weight-bold small">LET US HELP YOU</h1>
                            <ul class="list-unstyled">
                                <li><a class="text-white-50  small" href="#">Help Center</a></li>
                                <li><a class="text-white-50  small" href="#">Contact us</a></li>
                                <li><a class="text-white-50  small" href="#">How to buy on Jumia?</a></li>
                                <li><a class="text-white-50  small" href="#">How to pay on Jumia?</a></li>
                                <li><a class="text-white-50  small" href="#">Delivery timelines</a></li>
                                <li><a class="text-white-50 small" href="#">Return Policy </a></li>
                                <li><a class="text-white-50  small" href="#">Corporate Services</a></li>
                                <li><a class="text-white-50  small" href="#">Report a Product</a></li>
                            </ul>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="text-white font-weight-bold small pb-2">JOIN US ON</h1>
                            <a href="#" class="btn text-white" role="button"><i class="fab fa-facebook-f  socialIcon "></i></a>
                            <a href="#" class="btn text-white" role="button"><i class="fab fa-twitter  socialIcon"></i></a>
                            <a href="#" class="btn text-white" role="button"><i class="fab fa-instagram socialIcon"></i></a>
                            <a href="#" class="btn text-white" role="button"><i class="fab fa-youtube socialIcon"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row pb-2 mb-4 ">
                        <div class="col-lg-12">
                            <h1 class="text-white font-weight-bold small">ABOUT JUMIA EGYPT</h1>
                            <ul class="list-unstyled">
                                <li><a class="text-white-50  small" href="#">About us</a></li>
                                <li><a class="text-white-50  small" href="#">Jumia Careers</a></li>
                                <li><a class="text-white-50  small" href="#">Terms and Conditions</a></li>
                                <li><a class="text-white-50  small" href="#">Privacy Policy</a></li>
                                <li><a class="text-white-50  small" href="#">Jumia Express</a></li>
                                <li><a class="text-white-50  small" href="#">Jumia Mall </a></li>
                                <li><a class="text-white-50  small" href="#">Jumia Logistics Services</a></li>

                            </ul>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="text-white font-weight-bold small pb-2">PAYMENT METHODS</h1>
                            <a href="#" class="btn text-white" role="button"><i class="fas fa-hand-holding socialIcon "></i></a>
                            <a href="#" class="btn text-white" role="button"><i class="fab fa-cc-mastercard  socialIcon "></i></a>
                            <a href="#" class="btn text-white" role="button"><i class="fab fa-cc-visa  socialIcon "></i></a>
                            <a href="#" class="btn text-white" role="button"><i class="fas fa-money-bill-wave socialIcon"></i></a>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row pb-2 mb-4 ">
                        <div class="col-lg-12">
                            <h1 class="text-white font-weight-bold small">MAKE MONEY WITH JUMIA</h1>
                            <ul class="list-unstyled ">
                                <li><a class="text-white-50  small" href="#">Sell on Jumia</a></li>
                                <li><a class="text-white-50  small" href="#">Become a Logistics Service Partner</a></li>
                                <li><a class="text-white-50  small" href="#">Become a Sales Consultant (J-Force )</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="text-white font-weight-bold small">JUMIA INTERNATIONAL</h1>

                        </div>
                    </div>
                    <div class="row pb-2 mb-4 ">
                        <div class="col-lg-4">
                            <ul class="list-unstyled ">
                                <li><a class="text-white-50 small" href="#">Algeria</a></li>
                                <li><a class="text-white-50  small" href="#">Ivory Coast </a></li>
                                <li><a class="text-white-50  small" href="#">Ghana</a></li>
                                <li><a class="text-white-50  small" href="#">Kenya</a></li>
                                <li><a class="text-white-50  small" href="#">Morocco</a></li>

                            </ul>

                        </div>
                        <div class="col-lg-8">

                            <ul class="list-unstyled ">
                                <li><a class="text-white-50  small" href="#">Nigeria</a></li>
                                <li><a class="text-white-50  small" href="#">Senegal</a></li>
                                <li><a class="text-white-50  small" href="#">Tunisia</a></li>
                                <li><a class="text-white-50  small" href="#">Uganda</a></li>
                            </ul>

                        </div>

                    </div>
                </div>

            </div>
            <!--  row3  -->

            <div class="row">
                <div class="col-lg-12 p-3">
                    <div class=" text-center ">
                        <a href="#" class="text-white pr-3 main "><span class="reword"><i class="far fa-star"></i>REWOAROS</span></a>
                        <a href="#" class="text-white main"><span class="pay"><i class="fas fa-shield-alt"></i>PAY</span></a>
                    </div>
                </div>

            </div>


        </div>
    </footer>
    <!-- footer2-->
    <footer class="row bg-dark mt-5 pl-3 pr-3  footerSmallDevices">
        <div class="col-12">
            <!-- row1-->
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <a href="#" class="btn btn-outline-none text-white " role="button">
                            <i class="fas fa-chevron-up"></i>
                            <p>BACK TO TOP</p>
                        </a>
                    </div>
                </div>
            </div>
            <!-- row2-->
            <div class="row pl-5 p-3 border border-top-0 border-right-0  border-left-0  border-secondary" style="background-color: #282828;">
                <div class="col-md-2 col-sm-4  col-4  text-center p-2">
                    <a class="text-white text-uppercase text-decoration-none small" href="#">Help Center</a>

                </div>
                <div class="col-md-2 col-sm-4  col-4   text-center p-2">
                    <a class="text-white text-uppercase text-decoration-none small" href="#">Contact us</a>

                </div>
                <div class="col-md-3 col-sm-4  col-4   text-center p-2">
                    <a class="text-white text-uppercase text-decoration-none small" href="#">Terms &amp; Conditions</a>

                </div>
                <div class="col-md-2 col-sm-6  col-6   text-center p-2">
                    <a class="text-white text-uppercase text-decoration-none small" href="#">Sell on Jumia</a>

                </div>
                <div class="col-md-3 col-sm-6 col-6   text-center p-2">
                    <a class="text-white text-uppercase text-decoration-none small" href="#">Report a Product</a>

                </div>

            </div>
            <div class="row" style="background-color: #282828;">
                <div class="col-md-12 col-sm-12 col-12 text-center p-3">
                    <span class="text-capitalize text-white-50 ">all right reserved</span>

                </div>

            </div>




        </div>
    </footer>






























