
.add-product__actions{
    margin-bottom: 20px;
}

.btn-add{
    width: 100px;
    background-color: darkorange;
}
.btn-cancel{
    width: 100px;

}
.container{
    margin: auto;
}
.tabs__headers{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.form-control.invalid{
    border: 1px solid #f00;
}