<app-header></app-header>
<br><br>
<router-outlet></router-outlet>
<div class="row" style="margin-top: 20px;height: 384px;">
    <div class="col-lg-2 divstyle d-none d-lg-block">
      <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-apple-alt" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;"> Supermarket</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-vest" style="padding:8px;" aria-hidden="true"></i><span style="font-size: 13px;"> Fashion</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-feather-alt" style="padding:8px;" aria-hidden="true"></i><span style="font-size: 13px;">Health $ Beauty</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-child" style="padding:8px;" aria-hidden="true"></i><span style="font-size: 13px;"> Baby Products</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-mobile-alt" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;"> Phones $ Tablets</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-home" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;">Home $ Office</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-laptop" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;">Electronics</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-desktop" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;"> Computing</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-dumbbell" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;">Sporting Goods</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-gamepad" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;">Gaming</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-car" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;"> Automobile</span></a><br>
        <a [routerLink]="['categories','supermarket']" class="aa"><i class="fas fa-ellipsis-h" style="padding: 8px;" aria-hidden="true"></i><span style="font-size: 13px;"> Other categories</span></a><br>

    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class=""></li>
          <li data-target="#demo" data-slide-to="1" class=""></li>
          <li data-target="#demo" data-slide-to="2" class=""></li>
          <li data-target="#demo" data-slide-to="3" class=""></li>
          <li data-target="#demo" data-slide-to="4" class=""></li>
          <li data-target="#demo" data-slide-to="5" class=""></li>
          <li data-target="#demo" data-slide-to="6" class=""></li>
          <li data-target="#demo" data-slide-to="7" class="active"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item" style="padding-left: 0px;">
            <img src="homeimages/Slider-Desktop-EN_ch.jpg" width="100%" style="border-radius: 4px;">
          </div>
          <div class="carousel-item">
            <img src="homeimages/Slider-Desktop-EN_.jpg" width="100%" style="border-radius: 4px;">
          </div>
          <div class="carousel-item">
            <img src="homeimages/Slider-Desktop-EN_ (1).jpg" width="100%" style="border-radius: 4px;">
          </div>
          <div class="carousel-item">
            <img src="homeimages/Slider-Desktop-EN_ (2).jpg" width="100%" style="border-radius: 4px;">
          </div>
          <div class="carousel-item">
            <img src="homeimages/Slider-Desktop-EN_ (3).jpg" width="100%" style="border-radius: 4px;">
          </div>
          <div class="carousel-item">
            <img src="homeimages/Slider-Desktop-EN_1424_x_768.jpg" width="100%" style="border-radius: 4px;">
          </div>
          <div class="carousel-item active carousel-item-left">
            <img src="homeimages/Slider_Desktop_EN.jpg" width="100%" style="border-radius: 4px;">
          </div>
          <div class="carousel-item carousel-item-next carousel-item-left">
            <img src="homeimages/Slider-Desktop-EN_ (4).jpg" width="100%" style="border-radius: 4px;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <div class="col-lg-2 d-none d-lg-block">
      <div class="row" style="margin-bottom: 15px;">
        <a href="productPage.html"><img src="homeimages/super1.jpg" width="100%" height="188px;" style="border-radius: 4px;"></a>

      </div>
      <div class="row">
          <a href="productPage.html"><img src="homeimages/Artboard_1_copy_2-2.jpg" width="100%" height="188px;" style="border-radius: 4px;"></a>
      </div>
    </div>
  </div>
<!-- <app-product-item></app-product-item> -->
<app-product-item *ngFor='let prod of products' [product]='prod' class="item-medium-1"></app-product-item>