<!-- footer1-->
<footer class="row bg-dark footerLarge">
    <div class="col-12">
        <!--  row1  -->
        <div class="row p-3 mb-5" style="background-color: #282828;">
            <div class="col-lg-2 pl-5 pr-5">
                <img src="../../../../assets/img/logo.png" width="160px">

            </div>
            <div class="col-lg-6 pl-5 pr-5">
                <p class="text-white font-weight-bold">New to Jumia? <br> <span
                        class="text-white-50  font-weight-lighter small">Subscribe to our newsletter to get updates
                        on
                        our latest offers!</span></p>

                <div class="input-group sm-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white"><i
                                class="fas fa-envelope text-secondary"></i></span>
                    </div>
                    <input type="email" class=" form-control bg-white text-secondary" name="userEmail" required
                        placeholder="Enter E-mail Address">
                    <a href="#" class="btn btn-dark ml-2 text-uppercase  btn-outline-light bordColor"
                        role="button">male</a>
                    <a href="#" class="btn btn-dark ml-2 text-uppercase  btn-outline-light bordColor"
                        role="button">female</a>

                </div>

            </div>
            <div class="col-lg-4 pl-5">
                <div class="row mb-2">
                    <div class="col-lg-3">
                        <img class="rounded" src="../../../../assets/img/cartt.jpg" width="60px" />

                    </div>
                    <div class="col-lg-9">
                        <p class="text-white font-weight-bold small"> DOWNLOAD JUMIA FREE APP
                            <br> <span class="text-white-50  font-weight-lighter ">Get access to exclusive
                                offers!</span>
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="https://www.apple.com/app-store/" class="btn btn-dark    btn-outline-light bordColor mr-1" role="button"><i
                                class="fab fa-apple pr-1"></i>App Store</a>
                        <a href="#" class="btn btn-dark    btn-outline-light bordColor" role="button"><i
                                class="fab fa-google-play pr-1 "></i>Google Play</a>

                    </div>
                </div>


            </div>

        </div>
        <!--  row2  -->
        <div class="row p-3 border border-top-0 border-right-0 border border-left-0  border-secondary">

            <div class="col-lg-3 pl-5 ">
                <div class="row pb-2 mb-2">
                    <div class="col-lg-12">
                        <h1 class="text-white font-weight-bold small">LET US HELP YOU</h1>
                        <ul class="list-unstyled">
                            <li><a class="text-white-50  small" href="#">Help Center</a></li>
                            <li><a class="text-white-50  small" href="#">Contact us</a></li>
                            <li><a class="text-white-50  small" href="#">How to buy on Jumia?</a></li>
                            <li><a class="text-white-50  small" href="#">How to pay on Jumia?</a></li>
                            <li><a class="text-white-50  small" href="#">Delivery timelines</a></li>
                            <li><a class="text-white-50 small" href="#">Return Policy </a></li>
                            <li><a class="text-white-50  small" href="#">Corporate Services</a></li>
                            <li><a class="text-white-50  small" href="#">Report a Product</a></li>
                        </ul>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white font-weight-bold small pb-2">JOIN US ON</h1>
                        <a href="#" class="btn text-white" role="button"><i
                                class="fab fa-facebook-f  socialIcon "></i></a>
                        <a href="#" class="btn text-white" role="button"><i
                                class="fab fa-twitter  socialIcon"></i></a>
                        <a href="#" class="btn text-white" role="button"><i
                                class="fab fa-instagram socialIcon"></i></a>
                        <a href="#" class="btn text-white" role="button"><i
                                class="fab fa-youtube socialIcon"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row pb-2 mb-4 ">
                    <div class="col-lg-12">
                        <h1 class="text-white font-weight-bold small">ABOUT JUMIA EGYPT</h1>
                        <ul class="list-unstyled">
                            <li><a class="text-white-50  small" href="#">About us</a></li>
                            <li><a class="text-white-50  small" href="#">Jumia Careers</a></li>
                            <li><a class="text-white-50  small" href="#">Terms and Conditions</a></li>
                            <li><a class="text-white-50  small" href="#">Privacy Policy</a></li>
                            <li><a class="text-white-50  small" href="#">Jumia Express</a></li>
                            <li><a class="text-white-50  small" href="#">Jumia Mall </a></li>
                            <li><a class="text-white-50  small" href="#">Jumia Logistics Services</a></li>

                        </ul>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white font-weight-bold small pb-2">PAYMENT METHODS</h1>
                        <a href="#" class="btn text-white" role="button"><i
                                class="fas fa-hand-holding socialIcon "></i></a>
                        <a href="#" class="btn text-white" role="button"><i
                                class="fab fa-cc-mastercard  socialIcon "></i></a>
                        <a href="#" class="btn text-white" role="button"><i
                                class="fab fa-cc-visa  socialIcon "></i></a>
                        <a href="#" class="btn text-white" role="button"><i
                                class="fas fa-money-bill-wave socialIcon"></i></a>


                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row pb-2 mb-4 ">
                    <div class="col-lg-12">
                        <h1 class="text-white font-weight-bold small">MAKE MONEY WITH JUMIA</h1>
                        <ul class="list-unstyled ">
                            <li><a class="text-white-50  small" href="#">Sell on Jumia</a></li>
                            <li><a class="text-white-50  small" href="#">Become a Logistics Service Partner</a></li>
                            <li><a class="text-white-50  small" href="#">Become a Sales Consultant (J-Force )</a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white font-weight-bold small">JUMIA INTERNATIONAL</h1>

                    </div>
                </div>
                <div class="row pb-2 mb-4 ">
                    <div class="col-lg-4">
                        <ul class="list-unstyled ">
                            <li><a class="text-white-50 small" href="#">Algeria</a></li>
                            <li><a class="text-white-50  small" href="#">Ivory Coast </a></li>
                            <li><a class="text-white-50  small" href="#">Ghana</a></li>
                            <li><a class="text-white-50  small" href="#">Kenya</a></li>
                            <li><a class="text-white-50  small" href="#">Morocco</a></li>

                        </ul>

                    </div>
                    <div class="col-lg-8">

                        <ul class="list-unstyled ">
                            <li><a class="text-white-50  small" href="#">Nigeria</a></li>
                            <li><a class="text-white-50  small" href="#">Senegal</a></li>
                            <li><a class="text-white-50  small" href="#">Tunisia</a></li>
                            <li><a class="text-white-50  small" href="#">Uganda</a></li>
                        </ul>

                    </div>

                </div>
            </div>

        </div>
        <!--  row3  -->

        <div class="row">
            <div class="col-lg-12 p-3">
                <div class=" text-center ">
                    <a href="#" class="text-white pr-3 main "><span class="reword"><i
                                class="far fa-star"></i>REWOAROS</span></a>
                    <a href="#" class="text-white main"><span class="pay"><i
                                class="fas fa-shield-alt"></i>PAY</span></a>
                </div>
            </div>

        </div>


    </div>
</footer>

<!-- footer2-->
<footer class="row bg-dark mt-5 pl-3 pr-3  footerSmallDevices">
    <div class="col-12">
        <!-- row1-->
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="#" class="btn btn-outline-none text-white " role="button">
                        <i class="fas fa-chevron-up"></i>
                        <p>BACK TO TOP</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- row2-->
        <div class="row pl-5 p-3 border border-top-0 border-right-0  border-left-0  border-secondary"
            style="background-color: #282828;">
            <div class="col-md-2 col-sm-4  col-4  text-center p-2">
                <a class="text-white text-uppercase text-decoration-none small" href="#">Help Center</a>

            </div>
            <div class="col-md-2 col-sm-4  col-4   text-center p-2">
                <a class="text-white text-uppercase text-decoration-none small" href="#">Contact us</a>

            </div>
            <div class="col-md-3 col-sm-4  col-4   text-center p-2">
                <a class="text-white text-uppercase text-decoration-none small" href="#">Terms & Conditions</a>

            </div>
            <div class="col-md-2 col-sm-6  col-6   text-center p-2">
                <a class="text-white text-uppercase text-decoration-none small" href="#">Sell on Jumia</a>

            </div>
            <div class="col-md-3 col-sm-6 col-6   text-center p-2">
                <a class="text-white text-uppercase text-decoration-none small" href="#">Report a Product</a>

            </div>

        </div>
        <div class="row" style="background-color: #282828;">
            <div class="col-md-12 col-sm-12 col-12 text-center p-3">
                <span class="text-capitalize text-white-50 ">all right reserved</span>

            </div>

        </div>




    </div>
</footer>

